/* цвет текста основной #212121
цвет текста вторичный rgba(117, 117, 117, 1)
Цвет акцента #2196F3
#FFFFFF 
цвет фона #E5E5E5
цвет фона вторичный #2F303A

*/
:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-text-color);
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--title-text-color);
}
/* .link:hover,
:focus {
  color: var(--accent-color);
} */

/*-------------- logo------------ */
.logo {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo:hover,
:focus {
  color: var(--accent-color);
}

.logo-accent {
  color: var(--accent-color);
}

/*------------- header navigate----------- */

.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav:hover,
:focus {
  color: var(--accent-color);
}

.contacts-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contacts-item:hover,
:focus {
  color: var(--accent-color);
}

/*----------------- heroes--------------- */
.heroes {
  background-color: #2f303a;
  color: #ffffff;
}
.main-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-order {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}

/*----------------- team------------------ */
.team {
  background-color: #f5f4fa;
}

/*-------------- portfolio навигация------------ */
.portfolio-nav-button {
  background-color: #f5f4fa;
  cursor: pointer;
}

.portfolio-nav-button:hover,
:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
/*----------------- footer--------------- */

footer {
  background-color: #2f303a;
}
.footer-addres {
  font-style: normal;
}
.address-item {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.logo-footer {
  color: #ffffff;
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.address-item.link:hover,
:focus {
  color: var(--accent-color);
}
